<p>
  <%= link_to @url.url, @url.url, target: '_blank' %>
</p>
<%= content_tag(:iframe, '', src: @url.url) %>
<p>
  <%= button_to 'Archive', archived_urls_path(id: @url.id, detail: true, filter: params[:filter]) %>

  <%= link_to 'Next', url_path(@url.next(params[:filter]), filter: params[:filter]) if @url.next(params[:filter]) %>
</p>
