<h1>New Meetup Group</h1>

<%= form_for @meetup_group, html: { class: 'pure-form pure-form-aligned' } do |f| %>
  <fieldset>
    <legend>Enter the “URL Name” of a Meetup Group</legend>
    <div class="pure-control-group">
      <%= f.label :urlname, "Meetup Group URL Name" %>
      <%= f.text_field :urlname %>
    </div>
    <div class="pure-controls">
      <%= f.submit "Create", class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
